/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: rgba(255, 254, 248, 1);
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding: 0 150px;

}

main {
	padding: 0 240px;
	min-height: 100vh;
}

footer {
	display: flex;
	background-color: white;
	justify-content: end;
	height: 50px;
}

#footer-login {
	margin-top: 200px;

}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
}


li a:hover {
	color: #B1663C;
	cursor: pointer;
}


#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
button,
.second-modal-body input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
button[type="button"],
.modal-footer button,
.ajouter-photo label {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

#errorMessage {
	margin: 10px;
	color: #f02a2af8;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login-title h2,
a {
	display: flex;
	justify-content: center;
}

a {
	color: black;
}

.categories {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 40px;
}

.categories button {
	height: 38px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: rgba(255, 254, 248, 1);
	color: #1D6154;
	margin: 0 10px;
	font-family: 'syne';
	font-size: 16px;
	padding: 0 1.5rem;
	box-shadow: none;
}

.categories button:hover {
	cursor: pointer;
	color: white;
	background-color: #1D6154;
}

li #logout {
	padding: 0;
}

.hidden {
	display: none;
}

#editTopLine {
	width: 100%;
	background-color: black;
	color: white;
}

#editTopLine img {
	margin-right: 5px;
}

#editTopLine:hover,
#editButton {
	cursor: pointer;
}

.modif {
	display: flex;
	justify-content: center;
	align-items: center;
}

#editButton {
	background-color: rgba(255, 254, 248, 1);
	box-shadow: none;
	margin: 0 0 22px 10px;
	font-size: 15px;
}

#editButton img {
	margin-right: 3px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 688px;
	background-color: white;
	overflow: hidden;
	border-radius: 20px;
	display: none;
}

.second-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 688px;
	background-color: white;
	overflow: hidden;
	border-radius: 20px;
	display: none;
}

.modal-open {
	display: block;
}

.modal-header {
	display: flex;
	justify-content: center;
}

.modal-header h2 {
	margin-top: 40px;
}

.modal-body {
	display: flex;
	flex-wrap: wrap;
	padding: 35px 70px;
	justify-content: center;
}

.modal-body figure {
	position: relative;
}

.modal-body button {
	position: absolute;
	top: 20%;
	right: 15%;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	padding: 0 4px;
	border-radius: 2px;
}

.modal-body figure button img {
	width: 10px;
	height: 10px;
	margin: 0;
}

.modal-body button:hover {
	cursor: pointer;
}

.modal figure img {
	width: 75px;
	margin: 15px 5px;
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.modal-close img {
	width: 15px;
	height: 15px;
}

.modal-return {
	padding: 5px 0 0 5px;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.modal-return img {
	width: 15px;
	height: 15px;
}

.modal-footer {
	display: flex;
	justify-content: center;
	margin: 40px;
	padding: 0 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.39);
}

#ajouter-photo {
	background-color: gray;
}

.second-modal-body {
	display: flex;
	flex-direction: column;
}

.second-modal-body label {
	margin: 10px 105px;
}

.second-modal-body input {
	margin: 0 105px;
}

.ajouter-photo {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 105px;
	background-color: rgba(232, 241, 246, 1);
	padding: 15px;
	border-radius: 3px;
}

.ajouter-photo img {
	width: 76px;
	height: 76px;
	margin: 5px 0;
}

.ajouter-photo label {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(48, 102, 133, 1);
	background-color: rgba(203, 214, 220, 1);
	width: 173px;
	height: 36px;
}

.ajouter-photo label,
.ajouter-photo p {
	margin: 5px 0;
}

.modals h2 {
	font-family: inherit;
	color: #000;
	font-weight: normal;
}

#fileInput {
	display: none;
}

datalist option {
	display: none;
}